

  @font-face {
	font-family: Roboto;
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.woff2")
			format("woff2"),
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.woff")
			format("woff"),
		url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.ttf")
			format("ttf");
	font-weight: 400;
	font-style: normal;
}





/*Navigation*/
header{
    position: absolute; /*makes it visible, without this, the nav bar would just have the same color as the background*/
    top: 0; /*does so thhere is no white space on the top*/
    left: 0; /*placement of the navbar*/
    padding: 0 100px; /*placement of the nav-bar*/
    background: transparent; /*background color of the nav bar*/
    width: 100%; /*how much the nav bar should fill of the screen in width*/
    box-sizing: border-box; /*turns it into boxes*/
}

/*logo in the navigation*/
header .logo{
    color: #000; /*font color in nav-bar*/
    height: 50px; /*height of the nav-bar*/
    line-height: 50px; /*lineheight in the nav-bar*/
    font-size: 18px; /*size of the font*/
    float: left; /*placement of the name in the nav-bar (Lucas Bendix Jolibois Portfolio)*/
    font-weight: bold; /*makes the text bold in the name of the nav*/
}

/*push the menu options to the right*/
header nav{
    float: right; /*pushes the navigation options to the right*/
}

/*display flex*/
header nav ul{
    margin: 0; /*removes margin*/
    padding: 0; /*removes padding*/
    display: flex; /*dispay flex puts the navigation enxt to eachother in a line*/
}

/*removed liststyle*/
header nav ul li{
    list-style: none; /*does so that it isnt displayed in a list style*/
}

/*adapted the menu optiosn to the nav bar on desktop*/
header nav ul li a{
    height: 50px; /*height of the nav*/
    line-height: 50px; /*lineheight of the bar*/
    padding: 0 20px; /*padding between nav menu options*/
    color: #000; /*color of nav*/
    text-decoration: none; /*no text decoration*/
    display: block; /*displays it as a block around the different nav options*/
	transition: .22s ease-in-out;
	position: relative;
	top: 0;
}

header nav a:hover{
transition: .22s ease-in-out;
top: -3px;
font-size: 18px;

}
/*added a hover effect and a location effect*/
header nav ul li a:hover,
header nav ul li a.active{
    color: #FA6A29; /*turnes the text on nav orange when hover is activated*/
    background: transparent; /*turnes the background on nav black when hover is activated*/
}

/*added the bruger menu to the menubare and removed it for desktop*/
.burger-menu{
    color: #FA6A29; /*white burger menu*/
    float: right; /*pushes the burger menu to the right*/
    line-height: 50px;
    font-size: 24px;
    cursor: pointer; /*shows that it is clickable*/
    display: none; /*removes the visibility of the bruger menu when its on desktop*/
}







.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.btn-grad {
   
   
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10),
   0px 5px 20px 0px rgba(0, 0, 0, 0.10);
   display: block;
   text-decoration: none;
   display: inline-block;
   padding: 0.7375em 0.99em;
   border-radius: 2em;
   font-size: 14px;
   margin: 0.5em 0;
   padding-bottom: 0.7375em;
   box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10),
   0px 1px 20px 0px rgba(0, 0, 0, 0.10);
 }

 .btn-grad:hover {
   background-position: right center; /* changes the direction of the grad on button */
   color: #fff;
   text-decoration: none;
   box-shadow: 0px 0px #888888;
   
 }



.btn{
    text-decoration: none;
    background: #D7793E;
    display: inline-block;
    color: #ffff;
    padding: 0.7375em 0.99em;
    border-radius: 2em;
    font-size: 14px;
    margin: 0.5em 0;
    padding-bottom: 0.7375em;
}

/*adds a hover effect to the second button*/
.btn:hover{
    color: #FCB905;
    background: #111111;
}


.title-home{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 40vh;
    font-weight: 600;
    font-size: 40px;
}

.span-color{
    color: #FA6A29
}

.scroll-icon{
	position: absolute;
    height: auto;
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-top: 40px;

}

div, .scroll-icon-position{
    text-align: center;
  }



  .about-me-h2{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 50px;
    font-weight: 600;
    font-size: 40px;
	padding-top: 28%;
  }


  .me-h2{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 50px;
    font-weight: 600;
    font-size: 40px;
	
  }

  

  .about-me-p{
      padding-left: 22%;
      padding-right: 22%;
      text-align: center;
      font-size: 25px;
  }


  .featured-projects-h2{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 22vh;
    font-weight: 600;
    font-size: 40px;
  }





*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
body,
html {
	padding: 0;
	height: 100%;
	width: 100%;
}
body.scroll-off{
	overflow-y: hidden;
}
html,
body,
div,
span,
applet,
object,
iframe,
title,
p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "Roboto";
	font-weight: 600;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.6em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.8em;
}
/* ================================= *
 * Cards outer Styling
 ==================================== */
main.concord {
	margin: 20px 0;
	text-align: center;
}
.concord > header {
	width: 90%;
	padding: 0px 15px 0px 15px;
	margin: 0 auto;
	position: relative;
	display: block;
	overflow: auto;
	text-align: left;
}
.concord > header time {
	display: table-cell;
	float: left;
	color: black;
}
.concord > header time:first-child {
	color: #8f8f91;
}
.concord > header time h3 {
	color: black;
	font-weight: 700;
}

.concord > header avatar{
	display: table-cell;
	text-align: right;
	float: right;
	background-position: center;
	background-size: 120%;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
/* ================================= *
 * Card Styling + Default
 ==================================== */
.card {
	z-index: 1;
	cursor: pointer;
	display: inline-block;
	position: static;
	text-align: left;
	width: 89%;
	height: 400px;
	max-height: 400px;
	border-radius: 10px;
	margin: 15px 8px;
	overflow: hidden;
	background: white;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10),
		0px 1px 20px 0px rgba(0, 0, 0, 0.10);
	transform-origin: center;
	transition: transform, width, height, border-radius, top, left;
  	transition-duration: 500ms;
  	transition-timing-function: ease-in-out;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}
.card.gate_reserved{
	box-shadow: none;
}
.card .wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	display: table; 
}
.card h5,
.card h6,
.card p {
	margin: 4px 0;
}
.card h6,
.card p {
	color: #8f8f91;
}
.card h6 {
	text-transform: uppercase;
}
.card video,
.card img {
	display: table-cell;
	position: relative;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.card > .wrapper > header,
.card > .wrapper > footer{
	display: table-cell;
	width: 100%;
	height: auto;
	padding: 15px 20px;
	box-sizing: border-box;
}
.card > .wrapper > footer{
	background: white;
	position: absolute;
	bottom: 0;
	left: 0;
}
.card:active {
	transform: scale(0.97);
}

/* Card Style: x */
.card.x h4,
.card.x p {
	color: white;
}
.card.x h6 {
	color: rgba(255, 255, 255, 0.65);
}
.card.x > .wrapper > header,
.card.x > .wrapper > footer {
	position: absolute;
	left: 0;
	background: transparent;
	padding: 15px 20px;
}
.card.x > .wrapper > header {
	top: 0;
}
.card.x > .wrapper > footer {
	bottom: 0;
}
/* Card Style: v */
.card.im .wrapper{display: block;}
.card.im video{object-fit: cover;}
.card.im video:before{
	position: absolute;
	right: 15px;
	top: 0;
	background: rgba(255,255,255,0.3);
	content: "mute";
}

/* Card Style: i */
.card.i h2,
.card.i h6,
.card.i p{
	color: white;
}
.card.i h2{
	width: 50%;
	text-transform: uppercase;
}
.card.i p{
	font-size: 0.7em;
}
.card.i > .wrapper > header,
.card.i > .wrapper > footer {
	position: absolute;
	left: 0;
	padding: 15px 20px;
}
.card.i > .wrapper > header{
	top: 0;
}
.card.i > .wrapper > header img{
	width: 70px;
	height: 70px;
	border-radius: 18px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
}
.card.i > .wrapper > footer {
	background: transparent;
	bottom: 0;
}
button.card{
	position: relative;
	height: auto;
	width: auto;
	border: 0;
	outline: 0;
	font-weight: 600;
	color: rgba(28, 111, 215, 0.88);
	text-align: left;
	background: rgba(255,255,255,0.95);
	border-radius: 20px;
	padding: 4.4px 13px;
}
/* Card Style~input styling*/
input[type="button"].concord{
	cursor: pointer;
	position: absolute;
	height: auto;
	width: auto;
	border: 0;
	outline: 0;
	font-weight: 600;
	color: rgba(28, 80, 245, 0.98);
	text-align: left;
	background: rgba(255,255,255,0.95);
	border-radius: 20px;
	padding: 4.4px 13px;
	margin: 0;
	right: 20px;
	bottom: 19px;
	box-sizing: border-box;
}
input[type="button"].concord:active{
	color: rgba(28, 80, 245, 0.48);
}
input[type="button"].concord.exit{
	display: none;
	z-index: 99;
	top: 15px;
	right: 20px;
	bottom: initial;
	padding: 2px 7px;
	font-size: 1.2em;
	line-height: 1em;
	color: rgba(255,255,255,0.75);
	background: rgba(20,20,25,0.65);
	padding-bottom: 2.5px;
	padding-top: 2.5px;
	
}
input[type="button"].concord-exit:active{
	color: rgba(28, 80, 245, 0.48);
}
/* Card State: Content and Card active Styling*/
.card > .content{
	margin-top: 60px;
	margin-bottom: 20px;
	opacity: 0;
	width: 100%;
	height: 0px;
	transition: height, opacity, margin;
  	transition-duration: 900ms;
  	transition-timing-function: ease-in-out;
}
	.card > .content p{
		margin: 35px 20px;
		color: #8f8f91;
	}
		.card > .content p + p{
			margin-top: 0;
		}
		.card > .content p > b{
			color: black;
		}
	.card > .content img{
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
/*	.card > .content img:after{
		
	}*/
.card.in-flight{
	cursor: default;
	z-index: 98;
	display: block;
	max-height: none;
	max-width: none;
	top: 40px!important;
	height: 95vh !important;
	width: 100vw !important;
	margin: 0;
	overflow-y: scroll;
	transform: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.card.active:hover{
	transform: none;
}
.card.in-flight > .wrapper{
	height: 55%;
}
.card.in-flight > input[type="button"].concord.exit{
	display: block;
}
.card.in-flight > .content{
	margin-top: 0px;
	height: 45%;
	background: white;
	opacity: 1;
}

.the-btn{
	text-align: center;
	margin-top: -20px;
}

.raa-1{
	margin-top: 80px;
	margin-bottom: 80px;
	padding-left: 10%;
	padding-right: 10%;
}


.learn-more-project{
	margin-top: 0px;
	margin-bottom: -100px;
}

.learn-more-project-p{
	padding-bottom: -20px;

}

.card > .content .raaaa p {
	
		margin: 5px;
}

.btn{
	margin-bottom: 50px;
}

.talk{
	margin-top: 15vh;
	margin-bottom: 12px;
}

.talk-p{
	padding-bottom: 4vh;
}

.txt-rotate{
	color: #FA6A29;
	text-align: center;
}

.text-type-home{
	text-align: center;
	font-size: 10px;
	margin-bottom: 0vh;
	margin-top: 5vh;
}

.bunny-log{
	margin-top: -30px;
	margin-bottom: -50px;
}

.logo-bunny-stuff{
	padding-bottom: 7vh;
}


.btn-ynrnt{
	margin-top: -100px;
}




/* carouselle*/

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto
}

.mySlides {
    display: none;
  height: auto;
  border: solid 1px black;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #e2e0e0
}




/*footer*/
.the-site-footer{
	text-align: center;
	padding-bottom: 2vh;
	margin-top: 9vh;
}



.raah{
	padding-bottom: 5vh;
}


#nicoline-youtube{
    
	margin-bottom: 600px;
}


.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	margin-left: 5%;
	margin-right: 5%;
	
}

.video-container iframe, .video-container object, .video-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; }

	.mango{
		padding-top: 10vh;
	}


	.wp-gif{
		width: 100%;
		height: auto;
		padding-left: 5%;
		padding-right: 5% !important;
		padding-bottom: 5vh;
	}

	.footer-span{
		text-decoration: none;
		color: #FA6A29;
		transition: .22s ease-in-out;
		position: relative;
		top: 0;
	}

	.footer-span:hover{
		color: #ff5100;
		transition: .22s ease-in-out;
		top: -2px;
		font-size: 17px;
	}

@media screen and (min-width: 530px){
	.card{
		width: 75%;
	}
}
@media screen and (min-width: 600px){
	.card{
		max-width:340px;
		width: 65%;
	}
}
@media screen and (max-width: 599px){
	.card.in-flight{
		border-radius: 0;
		max-width: 100%;
		top: 0!important; 
		left:0!important;
	}
}
@media screen and (min-width: 600px){
	.card.in-flight{
		left: calc((100vw - 460px) / 2)!important;
		max-width: 460px!important;
	}
}
@media screen and (min-width: 730px){
	.card{
		max-width:340px;
		width: 40%;
	}
	.card.in-flight{
		left: calc((100vw - 700px) / 2)!important;
		max-width: 700px!important;
	}
}
@media screen and (min-width: 1000px){
	.card{
		width: 340px;
	}
	.card.xl{
		width: 600px;
		max-width: 600px;
	}
	.card.xl.active{
		width: 100%;
		max-width: 700px;
	}
}


/*------- MEDIA QUERIES PRIMARILY FOR THE NAVIGATION--------*/


/*@media for the menu for everything smaller than 990 pixels*/
@media (max-width: 990px){
    header{
        padding: 0 20px;
    }

/*made the bruger menu visible on smaller devices (to make it responsive)*/
    .burger-menu{
        display: block;
    }

/*made the burger menu usable (on smaller devices)*/
    header nav{
        /*display: none;*/
        
        position: absolute; /*makes invisible so that you'll see the main page*/
        width: 100%;
        height: calc(100vh - 50px); /*100vh does so that the menu bare on phone uses all the screen. retracting 50px as the 100vh uses abit more than the whole screen*/
        background: #fff;
        z-index: 2; /*puts the burger menu infront as i had trouble with it either being behind the youtbe video or covering it so that the youtube video wouldn't play*/
        top: 50px; /*how far down it is places from the top*/
        left: -100%; /*does so that the menu bar comes from the left side. if it was without the -, it would have come from the right side*/
        transition: 0.5s; /*how long it takes for the menu bare to apear. 0.5s gives it time to show the transition*/
    }

/*code for the header nav. when its active the menu bar will apoear at the middle of the screen instead of being on the left side*/
    header nav.active{
        left: 0;
    }

/*code for the menu on smaller devices*/
    header nav ul{
        display: block; /*alignes the menu downwards*/
        text-align: center; /*centers it so that it isnt on the left side*/
    }

/*box code*/
    header nav ul li a{
        border-bottom: 1px solid #333333; /*adds a line around the menu options so that you can differentiate between the boxes of the meu options and the the limits and where it ends*/
    }
}


@media (max-width: 340px){
header .logo{
    font-size: 15px;
	
}
}

@media (max-width: 380px){
	.title-home{
		text-align: center;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 20vh;
		font-weight: 600;
		font-size: 25px;
	}


	.scroll-icon{
		position: absolute;
		height: auto;
		width: 18px;
		display: inline-block;
		text-align: center;
		margin-top: 15px;
	
	}
	

	.me-h2{
		text-align: center;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 50px;
		font-weight: 600;
		font-size: 25px;
		
	  }
	
	  
	
	  .about-me-p{
		  padding-left: 10%;
		  padding-right: 10%;
		  text-align: center;
		  font-size: 15px;
	  }

	  .about-me-h2{
		text-align: center;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 50px;
		font-weight: 600;
		font-size: 25px;
		padding-top: 37%;
	  }

	  .featured-projects-h2{
		text-align: center;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 22vh;
		font-weight: 600;
		font-size: 25px;
	  }

	  h1 {
		font-size: 22px;
	}
}

@media (max-width: 299px){
    header .logo{
        font-size: 11px;
    
    }}


    @media (max-width: 235px){
        header .logo{
            font-size: 10px;
        
        }}

	

		@media (max-width: 489px){
			.title-home{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 20vh;
				font-weight: 600;
				font-size: 25px;
			}
		
		
			.scroll-icon{
				position: absolute;
				height: auto;
				width: 18px;
				display: inline-block;
				text-align: center;
				margin-top: 15px;
			
			}
			
		
			.me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 25px;
				
			  }
			
			  
			
			  .about-me-p{
				  padding-left: 10%;
				  padding-right: 10%;
				  text-align: center;
				  font-size: 15px;
			  }
		
			  .about-me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 25px;
				padding-top: 37%;
			  }
		
			  .featured-projects-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 22vh;
				font-weight: 600;
				font-size: 25px;
			  }
		
			  h1 {
				font-size: 22px;
			}
		}







		@media only screen and (max-width: 407px) and (min-width: 400px)  {
			.title-home{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 20vh;
				font-weight: 600;
				font-size: 20px;
			}
		
		
			.scroll-icon{
				position: absolute;
				height: auto;
				width: 18px;
				display: inline-block;
				text-align: center;
				margin-top: 15px;
			
			}
		

			.me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 25px;
				
			  }
			
			  
			
			  .about-me-p{
				  padding-left: 10%;
				  padding-right: 10%;
				  text-align: center;
				  font-size: 15px;
			  }
		
			  .about-me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 25px;
				padding-top: 37%;
			  }
		
			  .featured-projects-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 22vh;
				font-weight: 600;
				font-size: 25px;
			  }
		
			  h1 {
				font-size: 22px;
			}
			
		}




		 @media only screen and (max-width: 632px) and (min-width: 489px)  {
			.title-home{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 42vh;
				font-weight: 600;
				font-size: 33px;
			}
		
		
			.scroll-icon{
				position: absolute;
				height: auto;
				width: 18px;
				display: inline-block;
				text-align: center;
				margin-top: 15px;
			
			}
			
		
			.me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 33px;
				
			  }
			
			  
			
			  .about-me-p{
				  padding-left: 10%;
				  padding-right: 10%;
				  text-align: center;
				  font-size: 15px;
			  }
		
			  .about-me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 33px;
				padding-top: 45vh;
			  }
		
			  .featured-projects-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 22vh;
				font-weight: 600;
				font-size: 33px;
			  }
		
			  h1 {
				font-size: 22px;
			}
		}


		@media only screen and (max-width: 770px) and (min-width: 633px)  {
			.title-home{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 42vh;
				font-weight: 600;
				font-size: 33px;
			}
		
		
			.scroll-icon{
				position: absolute;
				height: auto;
				width: 18px;
				display: inline-block;
				text-align: center;
				margin-top: 15px;
			
			}
			
		
			.me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 33px;
				
			  }
			
			  
			
			  .about-me-p{
				  padding-left: 10%;
				  padding-right: 10%;
				  text-align: center;
				  font-size: 15px;
			  }
		
			  .about-me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 33px;
				padding-top: 49vh;
			  }
		
			  .featured-projects-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 22vh;
				font-weight: 600;
				font-size: 33px;
			  }
		
			  h1 {
				font-size: 22px;
			}
		}



		@media only screen and (max-width: 990px) and (min-width: 771px)  {
			.title-home{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 42vh;
				font-weight: 600;
				font-size: 39px;
			}
		
		
			.scroll-icon{
				position: absolute;
				height: auto;
				width: 18px;
				display: inline-block;
				text-align: center;
				margin-top: 15px;
			
			}
			
		
			.me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 33px;
				
			  }
			
			  
			
			  .about-me-p{
				  padding-left: 10%;
				  padding-right: 10%;
				  text-align: center;
				  font-size: 15px;
			  }
		
			  .about-me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 33px;
				padding-top: 45vh;
			  }
		
			  .featured-projects-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 22vh;
				font-weight: 600;
				font-size: 33px;
			  }
		
			  h1 {
				font-size: 22px;
			}
		}


		@media only screen and (max-width: 1125px) and (min-width: 991px)  {
			.title-home{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 42vh;
				font-weight: 600;
				font-size: 39px;
			}
		
		
			.scroll-icon{
				position: absolute;
				height: auto;
				width: 18px;
				display: inline-block;
				text-align: center;
				margin-top: 15px;
			
			}
			
		
			.me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 33px;
				
			  }
			
			  
			
			  .about-me-p{
				  padding-left: 10%;
				  padding-right: 10%;
				  text-align: center;
				  font-size: 15px;
			  }
		
			  .about-me-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 50px;
				font-weight: 600;
				font-size: 33px;
				padding-top: 45vh;
			  }
		
			  .featured-projects-h2{
				text-align: center;
				padding-left: 10%;
				padding-right: 10%;
				padding-top: 22vh;
				font-weight: 600;
				font-size: 33px;
			  }
		
			  h1 {
				font-size: 22px;
			}
		}



