
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-home{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 250px;
    font-weight: 600;
    font-size: 40px;
}

.span-color{
    color: #D7793E;
}

.scroll-icon{
    height: auto;
    width: 2%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;

}

div, .scroll-icon-position{
    text-align: center;
  }

  /*SECTION-B*/
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-b{
    background-color: #fff;
}

.container h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden; 
    padding: 1rem; 
    color: #252525;
    margin-top: 385px;
}

/*the orange text that is being typed*/
.typed-text{
    font-weight: lighter; 
    color: #FCB905;
}

/*the blink type animation*/
.writting-cursor{
    display: inline-block; 
    width: 3px;
    background-color: #151515;
    margin-left: 0.1rem;
    animation: blink 1s infinite; 
}

.writting-cursor.typing{
    animation: none;
}

/*here i define the apearance of the blinking type animation fro section b*/
@keyframes blink{
    0% { background-color: #151515;} /*0% of the 1s it will be white*/
    49% { background-color: #151515;}
    50% { background-color: transparent;} /*50% of the animation of the one second it will be transparent which will make it blink*/
    99% { background-color: transparent;}
    100% { background-color: #151515;} /*this will make it reapear at 100% which is at 1 second*/
}
