
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-home{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 250px;
    font-weight: 600;
    font-size: 40px;
}

.span-color{
    color: #D7793E;
}

.scroll-icon{
    height: auto;
    width: 2%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;

}

div, .scroll-icon-position{
    text-align: center;
  }